<app-componente-botones-cabecera [tituloCabecera]="'Crear incidencia'" [botonRetroceder]="true"
    [botonCancelar]="true" [botonCrearCita]="false" [botonCrearIncidencia]="false" [botonSalirPaciente]="false"
    [rutaRetroceder]="'medico/inicio'"></app-componente-botones-cabecera>

<div class="contenedor">
    <div class="row titulo col-md-12">
        <div class="textoCabecera text-center col-md-12">
            <h3>Resumen de los datos de la incidencia</h3>
            <p>Resumen de la información introducida para la creación de la incidencia</p>
        </div>
    </div>

    <div class="cajaDatos d-flex flex-row col-md-12">
            <div class="col-md-2">

            </div>
            <div class="col-md-3 parteIzq d-flex flex-column">
                <p><strong>Asunto:</strong> {{ incidencia.asunto }}</p>
                <p><strong>Prioridad:</strong> {{ incidencia.nivel_prioridad }}</p>
                <p><strong>Nombre:</strong> {{ incidencia.nombre }}</p>
                <p><strong>Fecha:</strong> {{ incidencia.fecha }}</p>
                <p><strong>Puesto de Trabajo:</strong> {{ incidencia.puesto_trabajo }}</p>
            </div>
            <div class="col-md-1 medio barraVertical">
            </div>
            <div class="col-md-5 parteDerecha">
                <p><strong>Descripción:</strong> {{ incidencia.descripcion }}</p>
            </div>
    </div>
    <div class="boton d-flex justify-content-center align-items-center">
        <button class="botonConfirmar"  routerLink="{{siguienteRuta}}" (click)="redireccion()">Confirmar</button>
    </div>
   
</div>
